@import "tailwindcss";

@theme {
  --font-silkscreen: "Silkscreen", sans-serif;
  --font-inter: "Inter", sans-serif;

  --color-theme-foreground: var(--theme-color-foreground);
  --color-theme-background: var(--theme-color-background);
  --color-theme-accent: var(--theme-color-accent);
  --color-theme-accent-1: var(--theme-color-accent-1);
  --color-theme-board: var(--theme-color-board);
  --color-theme-cell: var(--theme-color-cell);
  --color-topbar-accent: var(--theme-color-topbar-accent);
  --color-topbar-accent-1: var(--theme-color-topbar-accent-1);
  --color-tomato: var(--theme-color-tomato);
  --color-orange: var(--theme-color-orange);
  --color-yellow: var(--theme-color-yellow);
  --color-green: var(--theme-color-green);
  --color-blue: var(--theme-color-blue);
  --color-purple: var(--theme-color-purple);
}

@layer component {
  .loading-block {
    @apply absolute border border-theme-foreground transition-all duration-500;
  }
  .force-cubic-bezier {
    animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  }
  .grid-background {
    background-image:
      linear-gradient(to right, #7070701b 1px, transparent 1px),
      linear-gradient(to bottom, #7070701b 1px, transparent 1px);
    background-size: 30px 30px;
    background-repeat: repeat;
  }
  .grid-background::before {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      to bottom,
      var(--theme-color-background) 0%,
      transparent 50%,
      transparent 50%,
      var(--theme-color-background) 100%
    );
    pointer-events: none;
  }
  .gradient-center {
    background: radial-gradient(
      circle,
      color-mix(in srgb, var(--color-topbar-accent) 20%, transparent) 0%,
      color-mix(in srgb, var(--color-theme-background) 50%, transparent) 100%
    );
  }
  .gradient-left-bottom {
    background: linear-gradient(
      45deg,
      color-mix(in srgb, var(--color-topbar-accent-1) 20%, transparent) 0%,
      color-mix(in srgb, var(--color-theme-background) 50%, transparent) 100%
    );
  }
}

:root {
  --theme-color-foreground: #fff;
  --theme-color-background: #000;

  --theme-color-board: #ff0000;
  --theme-color-cell: #ff0000;

  --theme-color-tomato: #f16a50;
  --theme-color-orange: #ff8b3e;
  --theme-color-yellow: #f0c000;
  --theme-color-green: #4cc38a;
  --theme-color-blue: #52a9ff;
  --theme-color-purple: #d864d8;

  --theme-color-accent: #de21ac;
  --theme-color-accent-1: #174b21;
  --theme-color-topbar-accent: var(--theme-color-tomato);
  --theme-color-topbar-accent-1: var(--theme-color-purple);
}

:root {
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--theme-color-background);
  color: var(--theme-color-foreground);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

button {
  cursor: pointer;
}

@keyframes block-loading-animation {
  0% {
    animation-timing-function: cubic-bezier(1, 0, 0, 1);
  }
  100% {
    animation-timing-function: cubic-bezier(0, 0, 0.58, 1);
  }
}
